
html {
  font-family: monospace;
  display: inline-block;
  margin: auto;
  text-align: center;
}
h3{padding:10px;}
body{ font-weight: bold; background-color: wheat}

.button, .buttonblue, .buttongreen, .buttonred, .buttonyellow, .buttonorange, .buttonlink { 
  display: inline-block;
  width: 75%;
  max-width: 280px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.buttonsmall, .buttonsmallblue, .buttonsmallgreen, .buttonsmallred,  .buttonsmallorange {
  display: inline-block;
  width: 20%;
  max-width: 140px;
  padding: 10px 5px;
  border: none;
  border-radius: 8px;
  background-color: #008CBA;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.buttonsmallgreen {
  background-color: darkgreen;
}

.buttonsmallred {
  background-color: #f10b0b;
}

.buttonsmallorange {
  background-color: orange;
}

.buttonsmallblue {
  background-color: blue;
}

.buttongreen {
  background-color: darkgreen;
}


.buttonyellow {
  background-color: #94821a;
  visibility: hidden;
}

.buttonred {
  background-color:  red;
}

.buttonorange {
  background-color: orange;
}

.buttonlink {
  background-color: #008CBA;
}

.table {
  width: 32%;
}

.container {
  display: inline-block;
  width: 90%;
  border: 3px solid red;
  border-radius: 10px;
  padding: 15px;  
  text-align: center;
}
.chart-container {
  width: 100%;
  height: 35vh;
}

a:link {
    text-decoration: none;
    cursor: pointer;
}

caption
{
 margin: 1px;
}

input{  
       margin: 5px;
       width: 120px;
       border-radius: 5px;
       padding: 5px;
     }

table{ 
 width: 90%;
 max-width: 480px;
 padding: 15px 20px;
 margin-left: auto;
 margin-right: auto;
 }

th{
  font-size: 1rem;
  padding: 0.5rem 0rem;
}

td{
  width: 24%;
  background-color: white;
  color: black;
  font-size: 1rem;
  border-radius: 0.8rem;
  padding: 0.5rem 0rem;
  border: 3px solid goldenrod;
}

.td_blue{
  background-color: white;
  color: black;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  border: 3px solid blue; 
  accent-color: blue;
}

.td_green{
  background-color: white;
  color: black;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  border: 3px solid green; 
  accent-color: green;
}


.td_orange{
  background-color: white;
  color: black;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  border: 3px solid orangered; 
  accent-color:  red;
}

textarea{
  width:90%;
  max-width: 600px;
  height: 30vh;
}

object{
  width:100%;
}

hr{
  border:none;
  background:goldenrod;
  height:2px;
  width: 95%;
}

.myblink {
  width: 33%; 
  animation: blinkingBackground 2s infinite;
}
.mynoblink {
  width: 30%; 
  animation: none;
}

.sgradio {
  cursor: pointer;
}

:root {
  --ringcolor: black;
  --pwrplus:1deg;
}

.outerring, .outerring_blink {
  display: inline-block;
  width: 80%;
  height: 180px;
  max-width: 360px;
  border-radius: 3rem;
  position: relative;
  background: conic-gradient(
    green 0deg var(--pwrplus),
    var(--ringcolor) 0deg 360deg
  );
  margin: 10px;
}

.outerring_blink 
{
  animation: blinkingBackground 2s infinite;
}

.innerring {
    position: absolute;
    width: 90%;
    height: 80%;
    border-radius: 2rem;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-out;
}
 
.value_status,.ringtext_unit,.ringtext_unit2,.icon_status, .ringtext_value,.ringtext_value2, .temp_room
{
  position: relative;
  display: inline-table;
}
  
.icon_status, .ringtext_value, .ringtext_value2
{
  margin-top: 15px;
}

.temp_room
{
  /* width: 1px; */
  margin-left: 10%;
  margin-top: 25px;
  font-size: 0.9rem; 
}

.icon_status {
  width: 20%;
}
.value_status {
  width: 20%;
  font-size: 0.9rem;
}

.ringtext_value {
  width: 30%;
  font-size: 1.8rem;

}
.ringtext_unit {
  width: 30%;
  font-size: 0.9rem;
}

.ringtext_value2 {
  width: 30%;
  font-size: 1.8rem;
}
.ringtext_unit2 
{
  width: 30%;
  font-size: 0.9rem;
}


.ringtext_status2 {
  position: relative;
  top: 6%;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
}

.outer:hover .inner {
  width: 80%;
  height: 80%;
}

.image-btn{
  cursor: pointer;
  background: none;
  border: none;
  width: 28%;
  max-width: 120px;
  padding: 25px;
  text-align: left;
}

.image-btn img{
  display: block; /* to remove extra space below image */
}

/* SLIDER CSS */
/* https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/*/
.sliderticks {
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  font-size: 0.8rem;
  padding: 1px; 
}

.sliderticks span {
  display: flex;
  justify-content: center;
  width: 3px;
  height: 5px;
  background: red;
  line-height: 30px;
}

.range-slider {
  flex:auto;
}

.range {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  max-width: 400px;
  margin: 0 auto;
  height: 6rem;
  width: 95%;
  background: white;
  padding: 5px 0px;
  border: 3px solid goldenrod;
}

.value {
  font-size: 1.2rem;    
  width: 55px;
  text-align: center;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: gray;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 23px;
  width: 23px;
  background-color: red;
  border-radius: 50%;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  border-width: 3px;
  border-color: goldenrod;
}


input[type="radio"] {
  appearance: none;
  width: 30px; 
  height: 30px; 
  cursor: pointer;
  outline: 3px solid goldenrod;
  background: white;
  padding: 1ex; 
  border-radius: 20%;
}

input[type=radio]:checked {
  background: goldenrod;
  background-color: red
}
